#colorPicker {
    border: solid 5px grey;
    border-radius: 10px;
    width: 500px;
}

#square {
    border: solid 2px black;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    position: relative;
    float: right;
    right: 50px;
    bottom: 130px
}

tr > td:last-child {
    padding-left: 20px;
}