body {
    font-family: sans-serif;
    background-color: #8D99AE ;
    width: auto;
    margin: 0 auto;
}

h2 {
    text-align: center;
    color: #2B2D42;
}

header {
    color: white;
    background-color: #302f2f;
    text-align: center;
    padding: 20px;
}

img {
    border: 2px solid white;
    border-radius: 10px;
}


ul, ol {
    list-style: none;
}

li {
    text-align: center;
}

nav > ul >li > a:link, nav > ul > li > a:hover,
nav > ul > li >a:visited, nav > ul > li >a:link {
    text-decoration: none;
    color: #302f2f;
}

nav {
    background-color: #302f2f;
    padding: 100px 0;
}

nav > ul > li {
    background-color: #ebe9e8;
    padding: 15px;
    width: 100px;
    margin:10px auto;
}

/* Tabel */

.datagrid table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

.datagrid {
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    background: #fff;
    overflow: hidden;
    border: 1px solid #652299;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.datagrid table td, .datagrid table th {
    padding: 3px 10px;
}

.datagrid table thead th {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #652299), color-stop(1, #4D1A75));
    background: -moz-linear-gradient(center top, #652299 5%, #4D1A75 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#652299', endColorstr='#4D1A75');
    background-color: #652299;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    border-left: 1px solid #714399;
}

.datagrid table thead th:first-child {
    border: none;
}

.datagrid table tbody td {
    color: #4D1A75;
    border-left: 1px solid #E7BDFF;
    font-size: 12px;
    font-weight: normal;
}

.datagrid table tbody .alt td {
    background: #F4E3FF;
    color: #4D1A75;
}

.datagrid table tbody td:first-child {
    border-left: none;
}

.datagrid table tbody tr:last-child td {
    border-bottom: none;
}

.datagrid table tfoot td div {
    border-top: 1px solid #652299;
    background: #F4E3FF;
}

.datagrid table tfoot td {
    padding: 0;
    font-size: 12px
}

.datagrid table tfoot td div {
    padding: 2px;
}

