p {
    font-size: 1.25em;

}

p > img {
    margin: 10px;
}

article {
    border: 1px solid black;
    margin: 10px;
    padding-bottom: 150px;
}

article:nth-child(2n + 1) > p > img{
    float: left;
}

article:nth-child(2n) > p > img{
    float: right;
}




